flows5.json
[
    {
        "id": "9d420db76514a299",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1999939e1372eac3",
        "type": "http request",
        "z": "9d420db76514a299",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.323203&lon=-99.055246&appid=22a5bbf418c85ec7ef84d6b565878a34&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "2a410e8941733529"
            ]
        ]
    },
    {
        "id": "2a410e8941733529",
        "type": "json",
        "z": "9d420db76514a299",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "d1ea42c764471c0c",
                "13270d2389049861"
            ]
        ]
    },
    {
        "id": "b405da7276f0f50d",
        "type": "inject",
        "z": "9d420db76514a299",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "1999939e1372eac3"
            ]
        ]
    },
    {
        "id": "d1ea42c764471c0c",
        "type": "function",
        "z": "9d420db76514a299",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.main.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "13270d2389049861",
        "type": "function",
        "z": "9d420db76514a299",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9957a3bef2b702fd",
        "type": "mqtt in",
        "z": "9d420db76514a299",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a9200571c85424",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "ef3669fb2c060383"
            ]
        ]
    },
    {
        "id": "ef3669fb2c060383",
        "type": "json",
        "z": "9d420db76514a299",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "5868813b191af825",
                "5d6f7f239751ce16"
            ]
        ]
    },
    {
        "id": "5868813b191af825",
        "type": "function",
        "z": "9d420db76514a299",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6f7f239751ce16",
        "type": "function",
        "z": "9d420db76514a299",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bc477497aee232ec",
        "type": "inject",
        "z": "9d420db76514a299",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "cfc3efb1b1e33685"
            ]
        ]
    },
    {
        "id": "cfc3efb1b1e33685",
        "type": "function",
        "z": "9d420db76514a299",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Hector XD\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "accb6aa610975081",
                "31221ad31ffa9d1a"
            ]
        ]
    },
    {
        "id": "accb6aa610975081",
        "type": "debug",
        "z": "9d420db76514a299",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "31221ad31ffa9d1a",
        "type": "mqtt out",
        "z": "9d420db76514a299",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a9200571c85424",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "0a1ccc3b98c5be6b",
        "type": "comment",
        "z": "9d420db76514a299",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "0bd8670e1e2ec462",
        "type": "comment",
        "z": "9d420db76514a299",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "763b29348660d66c",
        "type": "comment",
        "z": "9d420db76514a299",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "c7a9200571c85424",
        "type": "mqtt-broker",
        "name": "Broker G8",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]